<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amikom Yogyakarta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='amikom.jpeg') }}" alt="Logo" class="logo">
        <h1>Data Mahasiswa Amikom Yogyakarta</h1>
    </header>
    <a href="{{ url_for('add') }}" class="button">Tambah Data</a>
    <table>
        <thead>
            <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Asal</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for mhs in mahasiswa %}
            <tr>
                <td>{{ mhs.nim }}</td>
                <td>{{ mhs.nama }}</td>
                <td>{{ mhs.asal }}</td>
                <td>
                    <a href="{{ url_for('edit', old_nim=mhs.nim) }}" class="button-edit">Ubah</a>
                    <a href="{{ url_for('delete', nim=mhs.nim) }}" class="button-delete">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>